<!DOCTYPE html>
<html>
<head>
  <title>Photo site</title>
</head>
<body bgcolor="#ff00ff">
<div style="color:#F7F7F7">
  <center>
    <h1 style="font-family:'Calibri Light'; font-size: 300%;">PhotoSite User List</h1>
    <h3 style="font-family:'Calibri Light'; font-size: 170%;"><i>There are 6 Users. Please select the Index to view further details. </i></h3>
  </center>
</div>
<div>
  <center>
    <table>
      <tr>
        <th style="font-family:'Calibri Light'; font-size: 140%;"><h2>Index </h2></th>
        <th style="font-family:'Calibri Light'; font-size: 140%;"><h2>First </h2></th>
        <th style="font-family:'Calibri Light'; font-size: 140%;"><h2>Last </h2></th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <th style="font-family:'Calibri Light'; font-size: 120%;"><%= link_to user.id, user_photos_path(user.id) %></th>
          <td style="font-family:'Calibri Light'; font-size: 120%;"><%= user.first_name %></td>
          <td style="font-family:'Calibri Light'; font-size: 120%;"><%= user.last_name %></td>
        </tr>
      <% end %>
    </table>
  </center>
</div>
</body>
</html>